/*  all table style */

.bodyBgColor {
  background-color: var(--bodyBg-color);
  border-radius: 5px;
  padding: 30px 40px 80px 40px;
}

.balance-transaction table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 5px;
}

.balance-transaction table tr th {
  background-color: var(--primary-color);
  color: #fff;
  padding: 8px 0px;
  font-weight: 300;
  font-size: 12px;
}

.balance-transaction table td,
th {
  text-align: left;
  padding: 8px;
  text-align: center;
}

.balance-transaction table tbody tr {
  color: #252733;
  font-size: 12px;
  background-color: #fff;
}

.balance-transaction table tr:hover {
  background-color: #e0ecfb !important;
}

.passengerInput1 p {
  color: var(--primary-color);
  font-family: "Poppins";
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
}

.passengerInput1 input {
  border: 0px;
  border: 1px solid var(--primary-color);
  width: 100%;
  padding: 5px 10px;
  color: var(--primary-color);
  height: 32px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 2px;
}

.passengerInput1 select {
  border: 0px;
  border: 1px solid var(--primary-color);
  width: 100%;
  padding: 5px 10px;
  color: var(--bodyBg-color);
  height: 32px;
  background-color: var(--primary-color);
}

.passengerInput1 input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #2d669b;
  opacity: 1; /* Firefox */

  font-family: "Poppins";
}

.passengerInput1 input:focus {
  outline: none;
}
.passengerInput1 select:focus {
  outline: none;
}

.passengerInput1 input::file-selector-button {
  display: none;
}

/* Animation round Search bar start  */
.search-box {
  /* position: absolute; */
  /* right: 0; */
  /* top: 5px; */
  background: var(--primary-color);
  height: 35px;
  border-radius: 20px;
  /* padding: 10px; */
}
.search-box:hover > .search-text {
  width: 235px;
  padding: 0 6px;
}
.search-box:hover > .search-btn {
  background: white;
  color: black;
}
.search-btn {
  border: none;
  color: #fff;
  float: right;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  cursor: pointer;
  text-decoration: none;
}
.search-box input::placeholder {
  color: #fff;
}
.search-text {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  font-weight: normal;
  transition: 0.4s;
  line-height: 35px;
  width: 0px;
}
/* Animation round Search bar End  */
