/*  all table style  */

.balance-transaction table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 5px;
}

.balance-transaction table tr th {
  background-color: var(--primary-color);
  color: #fff;
  padding: 8px 0px;
  font-weight: 300;
  font-size: 12px;
}

.balance-transaction table td,
th {
  text-align: left;
  padding: 8px;
  text-align: center;
}

.balance-transaction table tbody tr {
  color: #252733;
  font-size: 12px;
  background-color: #fff;
}

.balance-transaction table tr:hover {
  background-color: #e0ecfb !important;
}

/* Animation round Search bar start  */
.search-box {
  /* position: absolute; */
  /* right: 0; */
  /* top: 5px; */
  background: var(--primary-color);
  height: 35px;
  border-radius: 20px;
  /* padding: 10px; */
}
.search-box:hover > .search-text {
  width: 235px;
  padding: 0 6px;
}
.search-box:hover > .search-btn {
  background: white;
  color: black;
}
.search-btn {
  border: none;
  color: #fff;
  float: right;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  cursor: pointer;
  text-decoration: none;
}
.search-box input::placeholder {
  color: #fff;
}
.search-text {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  font-weight: normal;
  transition: 0.4s;
  line-height: 35px;
  width: 0px;
}
/* Animation round Search bar End  */
